In [16]:
import pandas as pd
pd.read_csv('./sample.csv').head()

   Amsterdam  Berlin  Cairo  Durban  Eldoret
0        100     220      3       4        5
1        134     256      3       4        5
2        143     289      3       4        5
3        140     245      3       4        5

In [17]:
x = open('./sample.csv', 'r')
x.read()

'Amsterdam,Berlin,Cairo,Durban,Eldoret\n100,220,3,4,5\n134,256,3,4,5\n143,289,3,4,5\n140,245,3,4,5'

In [18]:
x.code()

AttributeError: '_io.TextIOWrapper' object has no attribute 'code'

In [ ]:
## with automatically open and closes the file when using open

with open('./sample.csv', 'r') as f:
    print(f.read())

In [ ]:
import csv

with open('sample.csv') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row['Amsterdam'], row['Berlin'])

100 220
134 256
143 289
140 245

In [ ]:
with open ('cities.txt','w') as f:
    f.write('Dallas | Manchester | Copenhagen')

In [ ]:
#import csv

#with open("apple_orchard.csv") as f:
    #apple_orchard_data = list(csv.DictReader(f))
    #apple_tree_yields = [float(x["yield"]) for x in apple_orchard_data]
    #print("Total apple tree yields:", len(apple_tree_yields))
    #print("Average apple tree yield:", sum(apple_tree_yields) / len(apple_tree_yields))
    #print("Maximum apple tree yield:", max(apple_tree_yields))
    #print("Minimum apple tree yield:", min(apple_tree_yields))

In [ ]:
import json

with open ('playlist.json', 'r') as f:
    data = json.load(f)

data

{'playlist_name': 'My_Jams',
 'created_by': 'Chacha',
 'tracks': [{'title': 'Stan',
   'artist': 'Eminem',
   'album': 'The Marshall Mathers LP',
   'duration_sec': 405},
  {'title': 'In Da Club',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 240},
  {'title': 'Suzanna',
   'artist': 'Sauti Sol',
   'album': 'Midnight Train',
   'duration_sec': 239},
  {'title': 'Many Men',
   'artist': '50 Cent',
   'album': 'Get Rich or Die Tryin',
   'duration_sec': 256},
  {'title': 'Bad Liar',
   'artist': 'Imagine Dragons',
   'album': 'Origins',
   'duration_sec': 243}]}

In [ ]:
# not recommended, everything becomes a string
with open('playlist.json', 'r') as f:
    dt = f.read()

dt

'{\n  "playlist_name": "My_Jams",\n  "created_by": "Chacha",\n  "tracks": [\n    {\n      "title": "Stan",\n      "artist": "Eminem",\n      "album": "The Marshall Mathers LP",\n      "duration_sec": 405\n    },\n    {\n      "title": "In Da Club",\n      "artist": "50 Cent",\n      "album": "Get Rich or Die Tryin",\n      "duration_sec": 240\n    },\n    {\n      "title": "Suzanna",\n      "artist": "Sauti Sol",\n      "album": "Midnight Train",\n      "duration_sec": 239\n    },\n    {\n      "title": "Many Men",\n      "artist": "50 Cent",\n      "album": "Get Rich or Die Tryin",\n      "duration_sec": 256\n    },\n    {\n      "title": "Bad Liar",\n      "artist": "Imagine Dragons",\n      "album": "Origins",\n      "duration_sec": 243\n    }\n  ]\n}\n'

In [ ]:
#Transforming JSON schemas

#Here we want to transform JSON into a flatter structure, which we can use for analysis


"""
load JSON File,
iterate over the tracks and create a new list from the data points

"""

In [ ]:
#using pandas to make it to csv
import pandas as pd
with open('playlist.json', 'r') as f:
    playlist = json.load(f)

df = pd.DataFrame(playlist['tracks'])
df.head()
df.to_csv('tracks.csv', index=False)

In [ ]:
tracks = data['tracks']
tracks

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

In [ ]:
flattened_tracks = []

for track in tracks:
    dict_keys = list(track.keys())
    flattened_tracks.append({
        dict_keys[0]: track['title'],
        dict_keys[1]: track['artist'],
    })
df2 = pd.DataFrame(flattened_tracks)
df2.head()

        title           artist
0        Stan           Eminem
1  In Da Club          50 Cent
2     Suzanna        Sauti Sol
3    Many Men          50 Cent
4    Bad Liar  Imagine Dragons

In [21]:
with open('playlist.csv', 'w', newline="") as f:
    writer = csv.DictWriter(f, fieldnames=['title', 'artist', 'album', 'duration_sec'])
    writer.writeheader()
    writer.writerows(data['tracks'])